<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ptkreativatechnologisolusindo.profilekreativa">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        <activity
            android:name=".SplashScreen"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".HomeActivity"
            android:label="@string/title_activity_home"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".CompanyProfileActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Organisation"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".VisiMisiActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ProductActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Fasilitas.FasilitasActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".GaleryActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ContactActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".MenuProfileActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".Product_view" />
        <activity android:name=".Galery_View" />
        <activity android:name=".Fasilitas.Fasilitas_View" />
        <activity android:name=".Fragment.Berita_View" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <activity android:name=".Event.EventActivity" />
        <activity android:name=".Event.EventViewActivity" />
        <activity android:name=".Login.RegistActivity" />
        <activity android:name=".Event.ViewPesertaEventActivity" />
        <activity
            android:name=".Login.LoginActivity"
            android:noHistory="true" />
        <activity android:name=".ProfileActivity" />
        <activity android:name=".FullScreenActivity" />
        <activity android:name=".Login.LupaPasswordActivity" />
        <activity android:name=".Login.KonfirmasiActivity" />
        <activity android:name=".Login.GantiPasswordActivity" />
        <activity android:name=".Event.DetailPesertaActivity"></activity>
    </application>

</manifest>